.main-container-sidebar-open{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
    background:linear-gradient(rgba(151, 168, 216, 0.8),transparent);
    /* border: 2px solid black; */
    margin-left: 15%;
    transition: margin-left 0.3s ease-in-out;
}

.main-container-sidebar-not-open{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
    background:linear-gradient(rgba(151, 168, 216, 0.8),transparent);
    /* border: 2px solid black; */
    transition: margin-left 0.3s ease-in-out;
}

.first-container{
    margin: 0.8rem;
    margin-left: 2rem;
    /* margin-bottom: 0.8rem; */
}

.second-container{
    margin-left: 2rem;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    /* display: flex;
    flex-direction: column; */
}

.backlog-subheading{
    margin-top: -0.8rem;
}

.search-icon {
    margin-left: -1.3rem;
  }

.user-icon{
    /* margin-left: 0.5; */
}

.user-icon-button{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-left: 1.8rem;
    background-color: #e0e0e0;
    border: none;
    margin-left: 1.8rem;
    cursor: pointer;
}

.search-input{
    width: 100%;
}

