.features{
    display: flex;
    flex-direction: column;
    background-color:rgb(242, 244, 248);
    width:15vw;
    font-size: larger;
    font-weight: 600;
    height: 38rem;
    align-content: center;
    
}

.sidebarClass{
    padding-top: 10rem !important;
}

button{
    border:none;
    cursor: pointer;
}

button:hover{
  opacity: 0.8;
}
.project-name{
    background-color: rgb(66, 112, 212);
    height: 5rem;
}
.roadmap{
    
    background-color: hsl(240, 100%, 99%);
    height: 3rem;
    width:12.8rem;
}

.backlog{
    background-color: rgb(66, 112, 212);
    height: 3rem;
    width:12.8rem;
}

.board{
    background-color: hsl(240, 100%, 99%);
    height: 3rem;
    width:12.8rem;
}

.setting{
    background-color: rgb(66, 112, 212);
    height: 3rem;
    width:12.8rem;
}

header {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
    height: 60px;
    background-color: lightcoral;
  }
  .sidebar {
    position: absolute;
    /* top: 60px; */
    left: -15vw;
    height: 100%;
    width: 15vw;
    transition: left 0.3s ease-in-out;
    background-color: lightgray;
  }
  .sidebar-toggle {
     background-color: antiquewhite;
    position: absolute; 
    border-radius: 80% 80% 80% 80%;
    margin-left: 92%;
    height: 40px;
    width: 40px;
  }

  .content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 100%;
    transition: left 0.3s ease-in-out;
    background-color: lightgray;
  }
  .sidebar.open {
    left: 0;
  }
  .content.open {
    left: 15vw;
  }
  